<extend name="Public/base"/>


<block name="active">
		<li >
		</block>
<block name="menuactive1">
		<li class="submenu">
		</block>

<block name="menuactive2">
	<li class="submenu">
		</block>
<block name="menuactive3">
	<li class="submenu">
		</block>

<block name="menuactive4">
		<li class="submenu">
		</block>

<block name="menuactive5">
		<li class="submenu">
		</block>
<block name="menuactive6">
		<li class="submenu active open">
		</block>
<block name="contents">
			<div class="row-fluid">
			<div class="span12">
			<div class="widget-box">
							<div class="widget-title">

								<span class="icon">
									<i class="icon-th"></i>
								</span>

								<h5>删除缓存</h5>
							</div>
							<div class="widget-content nopadding">
							<{$info1}><{$info2}><{$info3}>
							
 
 
							</div>
						</div>
				</div>
			</div>
			
			
				 </block>
				 