<footer id="footer" class="style-01"><!--footer starts -->
			<section class="container">
				 <!-- Block CMS module -->
<section class="one-fourth" style="width:33.3333%;">
		  <h4>Latest News</h4>
	  <{:W('List/Lists',array('table'=>'New','bid'=>2,'id'=>2,'e'))}>
	</section>
<!-- /Block CMS module -->


<!-- Block categories module -->
<section class="one-fourth" style="width:33.3333%;">
	<h4>Product Categories</h4>
		<{:W('Plist/Plist',array('id'=>1,'e'))}>
</section>
<section class="one-fourth" style="width:33.3333%;">
	<h4>Contact Us</h4>
	<div class="flickr-widget">
		<p><em class="icon-map-marker"></em> <{$Think.config.web_eadd}></p>
<p><em class="icon-phone"></em> <{$Think.config.web_tel}></p>
<p><em class="icon-fax"></em>  <{$Think.config.web_fax}></p>
<p><em class="icon-envelope"></em> <a href="mailto:<{$Think.config.web_email}>"><{$Think.config.web_email}></a></p>
<p><{$Think.config.web_eshare}>﻿</p>
	</div>
</section>
			</section>
		</footer>
		<section id="copyrights">
		<section class="container">
		<div class="one-half" style="width:100%;">
			<p>
				 <{$Think.config.web_ecopyright}>&nbsp;<{$Think.config.web_icp}>&nbsp;<a href="__ROOT__/e_sitemap.html"> &nbsp;Sitemap  </a>
			<{$Think.config.web_count}></p>
		</div>
		
		</section>
		</section>
