<extend name="Public/base"/>
<block name="css">
		
		 
		<style>
	.open1 {
		display: block;
		width: 18px;
		height: 18px;
		cursor: pointer;
	}
</style>
<script src="__JS__/jquery.min.js"></script>
<script type="text/javascript">
	$(function () {
		$( 'dl[pid!=0]' ).hide();

		$( '.open1' ).toggle( function () {
			var index = $( this ).parents('dl').attr('id');
			$( this ).html( "<img src='__IMG__/minus.gif' class='listimg'/>" );
			$( 'dl[pid=' + index + ']' ).show();
		}, function () {
			var index = $( this ).parents('dl').attr('id');
			$( this ).html( "<img src='__IMG__/maxus.gif' class='listimg'/>" );
			$( 'dl[pid=' + index + ']' ).hide();
		} );

		$( '.del' ).click( function () {
			return confirm('确认删除该分类？');
		} );
	});
</script>
         
		

		</block>

<block name="active">
		<li >
		</block>
<block name="menuactive1">
		<li class="submenu active open">
		</block>

<block name="menuactive2">
		<li class="submenu">
		</block>
<block name="menuactive3">
		<li class="submenu">
		</block>

<block name="menuactive4">
		<li class="submenu">
		</block>

<block name="menuactive5">
		<li class="submenu">
		</block>
<block name="menuactive6">
		<li class="submenu">
		</block>
<block name="hometitle">网站管理</block>
<block name="contents">
			<div class="row-fluid">
			<div class="span12">
			<div class="widget-box">
							<div class="widget-title">

								<span class="icon">
									<i class="icon-th"></i>
								</span>

								<h5>栏目管理</h5><h5><a href="<{:U('addlist',array('pid'=>0,'tid'=>1))}>">添加顶级栏目</a> | <a href="<{:U('addlist',array('pid'=>0,'type'=>'page','tid'=>2))}>">添加单页</a> | <a href="<{:U('addlist',array('pid'=>0,'type'=>'link','tid'=>3))}>">添加链接</a></h5>
							</div>
							<div class="widget-content nopadding">
								
								<form name="theForm" method="post" action="<{:U('uporder')}>">
  <div class="tablelisthead">
    <ul pid='0'>
      <li class="li_10">排序</li>
      <li class="li_40">分类名</li>
      <li class="li_20">编辑</li>
    </ul>
  </div>
  
  <div id="languageBox2">
    <div class="tablelist">
    <volist name='list' id='vo'>
      <dl onmouseover="this.style.background ='#F1F1F1'" onmouseout="this.style.background ='#FFFFFF'" id='<{$vo.id}>' pid='<{$vo.pid}>'>
          <dt class="li_10">
          <input type="text" value="<{$vo.sort}>" name="sort[<{$vo.id}>]" class="listinput span4"/>
          </dt>
          <dt class="li_40">
          	  <lt name="vo.level" value="2">
              <span class='open1'><img src="__IMG__/maxus.gif" class="listimg"/></span>
              <else/>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </lt>
              <if condition='$vo.level gt 0'>├─</if><{$vo.name}>&nbsp;(<{$vo.ename}>)
          </dt>
          <dt class="li_40">
            <if condition="$vo.level elt 1 and $vo.type neq 'page' and $vo.type neq 'link'">
            <a href="<{:U('addlist',array('pid'=>$vo['id'],'type'=>$vo['type']))}>">添加子类</a> |
            <elseif condition="$vo.type eq 'page' and $vo.level lt 1"/>
            <a href="<{:U('addlist',array('pid'=>$vo['id'],'type'=>$vo['type']))}>">添加子类</a> |
            </if>
            
            <a href="<{:U('mod',array('id'=>$vo['id'],'type'=>$vo['type']))}>">修改</a> | 
            <a href="<{:U('dellist',array('id'=>$vo['id']))}>" class="confirm ajax-get">删除</a> |
            菜单：<eq name="vo.nav" value="1">显示<else/><font color="#FF0000">隐藏</font></eq> |
            &nbsp;ID:<{$vo.id}>
          </dt>
      </dl>
    </volist>  
    </div>
  </div>
  
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="36" class="BotNavBg">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="padding-left:5px;">
            <input type="submit" value="更新排序" class="btn">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>					


							</div>
						</div>
				</div>
			</div>
			
			
				 </block>
				 