<extend name="Public/base"/>


<block name="active">
		<li >
		</block>
<block name="menuactive1">
		<li class="submenu">
		</block>

<block name="menuactive2">
	<li class="submenu">
		</block>
<block name="menuactive3">
	<li class="submenu">
		</block>

<block name="menuactive4">
		<li class="submenu">
		</block>

<block name="menuactive5">
		<li class="submenu active open">
		</block>
<block name="menuactive6">
		<li class="submenu">
		</block>
<block name="hometitle">网站优化</block>
<block name="contents">
			<div class="row-fluid">
			<div class="span12">
			<div class="widget-box">
							<div class="widget-title">

								<span class="icon">
									<i class="icon-th"></i>
								</span>

								<h5>生成网站地图</h5>
							</div>
							<div class="widget-content nopadding">
								<div class="alert alert-success" style="font-size:16px;margin:10px 10px 10px 10px;">
                             <strong>站点地图生成成功!</strong>(<a href="__ROOT__/sitemap.xml" target='_blank'>sitemap.xml</a>)

				            </div>
							
 
 
							</div>
						</div>
				</div>
			</div>
			
			
				 </block>
				 