body,
ol.list > li > *,
.product_meta span span {
color: #727272;
}
a,
.btn-link,
.icon.style-2 .fa,
.error-404 h2,
.page-heading,
.statement .style-3,
.dropcaps.style-2:first-letter,
.list li:before,
ol.list,
.post.style-2 header > span,
.post.style-2 header .fa,
.page-numbers span,
.team .socialize a,
blockquote.style-2:before,
.panel-group.style-2 .panel-title a:before,
.contact-info .fa,
blockquote.style-1:before,
.comment-list .comment header h1,
.faq .panel-title a.collapsed:before,
.faq .panel-title a:after,
.faq .panel-title a,
.filter button.selected,
.filter:before,
.primary,
.search-posts i,
.counter .counter-number,
#wp-calendar th,
#wp-calendar caption,
.testimonials blockquote p:before,
.testimonials blockquote p:after,
.price,
.widget-price,
.star-rating,
.widget_shopping_cart .quantity,
.tab-pane .commentlist .meta strong,
.widget_recent_comments .recentcomments a
{
color: #3aaedf;
}
.testimonials.white blockquote p:before,
.testimonials.white blockquote p:after
{
color: #fff;
}
.site-footer, .site-footer .copyright-footer  {
color: #d9d9d9;
}
.counter .wrapbox
{
border-color:#3aaedf;
}
.nav .open > a:focus,
body .tp-bullets.simplebullets.round .bullet.selected {
border-color: #3aaedf;
}
@media (max-width: 993px) {
nav.site-navigation.open{
background-color: #242424;
}
}
@media (min-width: 993px) {
.site-navigation > div > ul > li .sub-menu .sub-menu,
.site-navigation > ul > li .sub-menu .sub-menu {
}
}
.carousel-indicators li.active,
.ls-michell .ls-bottom-slidebuttons a.ls-nav-active {
border-color: #3aaedf !important;
}
.icon .fa,
.posts div a,
.progress-bar,
.nav-tabs > li.active:after,
.menu li.current-menu-ancestor a,
.pricing-table header,
.table thead th,
.mark,
.post .post-meta button,
blockquote.style-2:after,
.panel-title a:before,
.carousel-indicators li,
.carousel-indicators .active,
.ls-michell .ls-bottom-slidebuttons a,
.site-search,
.twitter .carousel-indicators li,
.twitter .carousel-indicators li.active,
#wp-calendar td a,
.top-bar.style-2,
body .tp-bullets.simplebullets.round .bullet,
.onsale,
.plus, .minus,
.widget_price_filter .ui-slider .ui-slider-range,
.woo-header-cart .cart-contents > span,
.form-submit #submit,
.testimonials blockquote header:before,
mark {
background-color: #3aaedf;
}
.testimonials.white blockquote header:before
{
background-color: #fff;
}
@media (max-width: 992px) {
.navbar-toggle,
.nav-wrap .fa-search {
background-color: #3aaedf;
}
}
h1, h2, h3, h4, h5, h6,
.nav-tabs > li > a,
.nav-tabs > li.active > a,
.statement,
.page-heading a,
.page-heading a:after,
p strong,
.dropcaps:first-letter,
.page-numbers a,
.searchform,
.searchform input[type="text"],
.socialize a,
.widget_rss .rss-date,
.widget_rss cite,
.panel-title,
.panel-group.style-2 .panel-title a.collapsed:before,
blockquote.style-1,
.comment-list .comment header,
.faq .panel-title a:before,
.faq .panel-title a.collapsed,
.filter button,
.carousel .carousel-control,
#wp-calendar #today,
.woocommerce-result-count,
input.qty,
.product_meta,
.woocommerce-review-link,
.woocommerce-before-loop .woocommerce-ordering:after,
.widget_price_filter .price_slider_amount .button,
.widget_price_filter .price_label,
.product_list_widget li h4 a,
.shop_table.table thead th,
.shop_table.table tfoot,
.product-single-header .variations label,
.tab-pane .commentlist .meta {
color: #444444;
}
.ls-michell .ls-nav-next,
.ls-michell .ls-nav-prev
{
color:#fff;
}
@media (min-width: 993px) {
.site-navigation .sub-menu li,
.site-navigation > div > ul > li > a,
.site-navigation > div > ul a
.site-navigation > ul > li > a,
.site-navigation > ul a {
color: #444444;
}
}
.contact-form input[type="text"]:focus,
.contact-form textarea:focus {
border-color: #444444 !important;
}
.pricing-table header h2,
.mark.style-2,
.btn.dark,
.twitter .carousel-indicators li,
.added_to_cart,
.price_slider_wrapper .ui-widget-content
{
background-color: #444444;
}
@media (max-width: 992px) {
.site-navigation, .site-navigation:after, .site-navigation:before {
background-color: #242424;
}
}
body,
.alert .close,
.post header {
font-family: Open Sans;
}
h1, h2, h3, h4, h5, h6,
.btn,
.page-heading,
.team em,
blockquote.style-1,
.onsale,
.added_to_cart,
.price,
.widget-price,
.woocommerce-review-link,
.product_meta,
.tab-pane .commentlist .meta,
.wpcf7-submit
{
font-family: Open Sans;
}
.nav-tabs > li > a,
.site-navigation > ul a,
.tp-arr-titleholder {
font-family: PT Sans;
}
.pricing-table header h2,
.pricing-table header .price,
.pricing-table header .currency,
.table thead,
h1.style-3,
h2.style-3,
h3.style-3,
h4.style-3,
h5.style-3,
h6.style-3,
.page-numbers a,
.page-numbers span,
.alert,
.comment-list .comment header,
.woocommerce-result-count,
.product_list_widget li > a,
.product_list_widget li p.total strong,
.cart_list + .total,
.shop_table.table tfoot,
.product-single-header .variations label {
font-family: Open Sans;
}
.site-search #searchform-header input[type="text"]
{
font-family: Open Sans;
} .top-bar, .top-bar.style-2, header.site-header div.top-bar div.container ul li.widget-container ul li a {
color: #c1c1c1;
}
header.site-header div.top-bar div.container ul li.widget-container ul li a:hover {
color:  #3aaedf;
} 
.top-bar, .top-bar.style-2, .transparent.top-bar.open > .container  {
background: #f9f9f9;
} .site-footer {
background: #242424;
}
.site-footer .copyright-footer {
background: #0f0f0f;
} 
.site-footer .copyright-footer img {
margin-bottom: 4px;
}
.testimonials blockquote p
{
border-bottom: 1px solid #3aaedf;
}
.testimonials.white blockquote p
{
border-bottom: 1px solid #fff;
}
div.testimonials blockquote.item.active p,
.testimonials blockquote cite
{
color: #3aaedf;
}
div.testimonials.white blockquote.item.active p,
div.testimonials.white blockquote.item.active cite a,
div.testimonials.white blockquote.item.active cite, .wpb_content_element .widget .tagcloud a
{
color: #fff;
}
.a:hover,
.site-header a:hover,
.icon a:hover h2,
.nav-tabs > li > a:hover,
.top-bar a:hover,
.page-heading a:hover,
.menu a:hover,
.table tbody tr:hover td,
.page-numbers a:hover,
.widget-categories a:hover,
.product-categories a:hover,
.widget_archive a:hover,
.widget_categories a:hover,
.widget_recent_entries a:hover,
.socialize a:hover,
.faq .panel-title a.collapsed:hover,
.carousel .carousel-control:hover,
a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5,
.site-footer a:hover,
.ls-michell .ls-nav-next:hover,
.ls-michell .ls-nav-prev:hover,
.site-navigation > ul > li.megamenu .sub-menu .container > li a:hover,
body .tp-leftarrow.default:hover,
body .tp-rightarrow.default:hover,
.woocommerce-review-link:hover,
.product_list_widget li h4 a:hover,
.cart-contents:hover i,
.nav-wrap .fa-search:hover,
.home .nav-wrap .fa-search:hover,
.home .nav-wrap.sticky .fa-search:hover,
.icon.style-2 a:hover .fa,
.team .socialize a:hover,
.recentblog header a:hover h2,
.site-navigation > ul a:hover,
.site-navigation > div > ul > li.current_page_item > a,
.site-navigation > ul > li.current_page_item > a,
.home .site-navigation > ul > li.current-menu-item.current_page_item > a,
.scrollup a:hover,
.site-navigation.open .menu-item a:hover,
.hovercolor, i.hovercolor, .post.style-2 header i.hovercolor.fa,
article.post-sticky header:before,
.wpb_content_element .widget a:hover
{
color: #3aaedf;
}
.filter button.selected {
color: #3aaedf!important;
}
.scrollup a:hover
{border-color: #3aaedf;
}
.tagcloud a:hover,
.twitter .carousel-indicators li:hover,
.added_to_cart:hover,
.icon a:hover .fa,
.posts div a:hover,
#wp-calendar td a:hover,
.plus:hover, .minus:hover,
.widget_price_filter .price_slider_amount .button:hover,
.form-submit #submit:hover,
.anps_download > a span.anps_download_icon 
{
background-color: #3aaedf;
}
body {
font-size: 14px;
}
h1, .h1 {
font-size: 31px;
}
h2, .h2 {
font-size: 24px;
}
h3, .h3 {
font-size: 16px;
}
h4, .h4 {
font-size: 18px;
}
h5, .h5 {
font-size: 16px;
}
.page-heading h1 {
font-size: 24px;
line-height: 34px;
}
.site-navigation ul > li.menu-item > a, .home .nav-wrap.sticky .fa-search
{
color: #44444;
font-size: 14px;
}
.nav-wrap.sticky .site-navigation ul > li.menu-item > a {
color: #44444;
}
.home .site-navigation > ul > li.menu-item > a, .home .nav-wrap .fa-search, body.home.boxed .nav-wrap .fa-search  {
color: ;
}
.site-navigation ul > li.menu-item > a:hover, .site-navigation ul > li.current_page_item > a, .nav-wrap.sticky .site-navigation ul > li.menu-item > a:hover, .nav-wrap.sticky .site-navigation ul > li.current-menu-item > a {
color:  #3aaedf;
}
.home .site-navigation ul > li.menu-item > a:hover, .home .site-navigation ul > li.current_page_item > a, .home .nav-wrap .fa-search:hover, .home .site-navigation > ul > li.current-menu-item.current_page_item > a {
color:  ;
}
.nav-wrap, header.site-header.sticky.style-1.bg-transparent div.nav-wrap.sticky {
background: #fff;
}
.home .nav-wrap {
background: ;
}
article.post-sticky header .stickymark i.nav_background_color {
color: #fff;
}
.triangle-topleft.hovercolor {
border-top: 60px solid #3aaedf;
}
h1.single-blog, article.post h1.single-blog{
font-size: 28px;
}
.home div.site-wrapper div.transparent.top-bar, .home div.site-wrapper div.transparent.top-bar #lang_sel a.lang_sel_sel {
color: ;
}
.home div.site-wrapper div.transparent.top-bar a:hover, .home div.site-wrapper div.transparent.top-bar #lang_sel a.lang_sel_sel:hover {
color: ;
}
aside.sidebar ul.menu ul.sub-menu > li > a, aside.sidebar ul.menu > li.current-menu-ancestor > a {
background: ;
color: ;
}
aside.sidebar ul.menu ul.sub-menu > li > a:hover {
color: ;
}
@media (max-width: 786px) {
.home div.site-wrapper div.transparent.top-bar, .home div.site-wrapper div.transparent.top-bar #lang_sel a.lang_sel_sel {
color: #c1c1c1;
}
}
@media (min-width: 993px) {
.site-navigation {
padding-top:0;
padding-top: 30px;
}
.nav-wrap .fa-search {
padding-top:0;
}
.nav-wrap.sticky .site-navigation  {
padding-top:0;
}
.nav-wrap.style-3 .site-navigation, .nav-wrap.style-3 .fa-search  {
padding-top: 0;
}
}
@media (max-width: 992px) {
.home .nav-wrap .fa-search, .home .nav-wrap .fa-search:hover, body.home.boxed .nav-wrap .fa-search, .site-navigation ul > li.menu-item > a, .home .nav-wrap.sticky .fa-search {
color: #fff
}
}
@media (min-width: 993px) {
.responsive .site-navigation .sub-menu {
background:#fff;
}
.responsive .site-navigation .sub-menu a {
color: #444444;
}
}